    <!--
    <div id="footer">
      <div class="container">
        <p class="text-muted">©final year 2017</p>
      </div>
    </div>style="text-align: center;position: relative;top: 25px"
    -->
<footer class="footer">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-10">
  			<p class="text-muted" > <span style="position: relative;top: 14px; left: 550px;">&copy; Copyright final year 2017 </span></p>
  		</div>
  		<div class="col-md-2">
  			<img class="navbar-brand" src="{{url_for('static',filename='img/logo3_1_75.png')}}" style="padding-top: 10px;" />
  		</div>
  	</div>  
  </div>
</footer>